* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f7fc;
}

.thank-you-container {
  padding: 40px;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.6%;
}

.thank-you-container h1 {
  font-size: 2.5rem;
  color: #b99bff;
  margin-bottom: 20px;
}

.thank-you-container p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #555555;
}

.thank-you-container a.button {
  display: inline-block;
  padding: 12px 28px;
  background-color: #b99bff;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.thank-you-container a.button:hover {
  background-color: #a387e5;
}
